@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>


<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<div class="container">

    <footer>
        <div class="footer footer__layout footer__middle">
            <div class="footer-content">
                <div class="footer__layout__left">
                    <div class="footer__socials socials">
                        <a href="https://www.facebook.com/benbalabanestates/" class="socials__item wow fadeInUp" target="_blank" data-wow-delay=".0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInUp;">
                            <img src="images/facebook.png" />
                        </a>

                        <a href="https://www.instagram.com/benbalaban3/" class="socials__item wow fadeInUp" target="_blank" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                            <img src="images/instagram.png" />
                        </a>
                        <a href="https://ca.linkedin.com/in/ben-balaban-6aa756117" class="socials__item wow fadeInUp" target="_blank" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <img src="images/linkedIn.png" />
                        </a>

                        <a href="https://twitter.com/benjaminbalaban?lang=en" class="socials__item wow fadeInUp" target="_blank" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <img src="images/twitter.png" />
                        </a>
                    </div>
                </div>
                <div class="footer__layout__right">
                    <div class="logos">
                        <div class="logos__logo">
                            <img src="https://res.cloudinary.com/luxuryp/image/upload//v1528402391/dark-equal-logo_gahxpa.png" alt="">
                        </div>
                        <div class="logos__logo">
                            <img src="https://res.cloudinary.com/luxuryp/image/upload/v1528402391/dark-realtor-logo_x1vczu.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="footer__layout__develop">
                    Website Designed &amp; Developed by <a href="https://www.linkedin.com/in/nirjhar-vermani-8b593119/" target="_blank">Nirjhar Vermani</a>.
                </div>
            </div>
        </div>
    </footer>

</div>