<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light pageMenu">
    <div class="nav-container">
        <a href="/" class="header__logo header__logo--center">
            <img src="images/ben_logo_t.png" />

        </a>
        @*<a class="navbar-brand" href="">Ben's Properties</a>*@
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="listings">
                        <span aria-hidden="true">
                            <MatIcon Icon="store"></MatIcon>
                        </span> Listings
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="testimonials">
                        <span aria-hidden="true">
                            <MatIcon Icon="favorite"></MatIcon>
                        </span> Testimonials
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="contactus">
                        <span aria-hidden="true">
                            <MatIcon Icon="contacts"></MatIcon>
                        </span> Contact Us
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}