@page "/"
@layout HomeMainLayout


<div class="section">
    <div class="video-container">
        <div class="color-overlay"></div>
        <div class="content-wrapper container">
            <div data-wow-delay=".35s" class="content-container wow fadeInDown" style="visibility: visible; animation-delay: 0.35s; animation-name: fadeInDown;">
                <div class="title-wrapper">
                    <h2 class="title">Book a Free Consultation</h2>
                </div>
                <div class="button-wrapper">
                    <a href="/contactus" class="btn-white">
                        Book
                    </a>
                </div>
            </div>
        </div>





        <div class="video-wrapper">
            <div class="full-screen-video-component">
                <div class="video-wrapper hidable">
                    <video style="height:100%;" loop="" muted="" autoplay="">
                        <source src="videos/BenFinalC.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="poster" style="background-image: url('https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/abdhlikt3lmnxa5ye8zv/shutterstock_156936455-2')"></div>
            </div>
        </div>



    </div>





</div>

<br />
<div class="home-body-content">
    <MatBody1>
        Having a background in marketing and business Ben brings a unique mix of care, creativity, and professionalism to his real estate clients.
        His passion for design was inspired by her mother, who’s a custom seamstress. Growing up watching her sew beautiful outfits, he became a perfectionist
        with a sharp eye for detail, and learned to appreciate the sense of accomplishment that comes from finding the perfect home.
    </MatBody1>

    <MatBody1>

        Ben is fluent in English giving her a great foundation for working with global clients as they search for the ideal primary,
        secondary or investment property.
    </MatBody1>

    <MatBody1>
        Ben applies her expertise and market knowledge while assisting her clients to exceed their investment goals. Staying up to date with the latest market
        trends, statistics, data, and constantly pursuing professional development, Ben prides himself on offering clients the most up to date market information
        in order to make an informed real estate decision while always keeping her client’s best interests at heart.
    </MatBody1>
</div>