@page "/"
@layout HomeMainLayout


<div class="section">
    <div class="video-container">
        <div class="color-overlay"></div>
        <div class="content-wrapper container">
            <div data-wow-delay=".35s" class="content-container wow fadeInDown" style="visibility: visible; animation-delay: 0.35s; animation-name: fadeInDown;">
                <div class="title-wrapper">
                    <h2 class="title">Book a Free Consultation</h2>
                </div>
                <div class="button-wrapper">
                    <a href="/contactus" class="btn-white">
                        Book
                    </a>
                </div>
            </div>
        </div>





        <div class="video-wrapper">
            <div class="full-screen-video-component">
                <div class="video-wrapper hidable">
                    <video style="height:100%;" loop="" muted="" autoplay="">
                        <source src="videos/BenFinalC.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="poster" style="background-image: url('https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/abdhlikt3lmnxa5ye8zv/shutterstock_156936455-2')"></div>
            </div>
        </div>



    </div>





</div>

<br />
<div class="home-body-content">
    <MatBody1>
        Growing up in the GTA, I have had the pleasure of watching this wonderful area evolve into the growing metropolis it currently is.
        My passion and love for real estate is expressed through my unwavering confidence and limitless patience that I provide to all my clients in every
        transaction. Whether you are a first-time buyer, experienced investor, or new to the area, you will get my full attention and dedicated service.
        To ensure you see ultimate results, I have built a unique team consisting of industry professionals in digital marketing, media creation and more.
        We are pushing the boundaries of what is possible in real estate to ensure you receive the most effective, modern and unique service available in the
        industry.
    </MatBody1>

    <MatBody1>
        Give me a call and let’s discuss your big plans!
    </MatBody1>

</div>