@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav-container {
    display: flex;
    position: relative;
    left: 26%;
}
.homeContainer {
    max-width: 100%;
    padding: 0px;
}
.navbar-light .navbar-nav .nav-link {
color:#fff;
}

.nav-link.active {
    color: #fff !important;
    border:1px solid #FFF
}

.navbar-brand{ color:#fff !important}
.nav-link:hover {
    color: #fff !important
}
.header__logo--center {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.header__logo {
    display: block;
    cursor: pointer;
}
.header__logo img {
    display: block;
    max-height: 52px;
    max-width: 250px;
}
    a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.topMenu{position: absolute;z-index:999;left:26%}
.pageMenu{background:#000;color:#fff}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}
.property-card{min-width:300px;}
.demo-mat-card-content {
    min-width: 300px;
}
.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}
.footer-content {
    padding-top: 60px;
    float: left;
    margin: 0px auto;
    width: 100%;
    padding-left:2%
}
.body-content {
    padding: 10px;
    padding-top: 40px;
    max-width: 1000px;
    margin: 0px auto
}
.home-body-content {
max-width:1000px;
margin:0 auto;
}



.content {
    padding-top: 1.1rem;
}



.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.homeContent {
    /*background-image: linear-gradient(180deg, rgba(160, 141, 141, 0.10) 0%, #fff 70%);*/
    /*margin-top:10px*/
}

.fab {
    font-family: "Font Awesome 5 Brands";
}
footer .footer .socials__item img {
    width: 36px;
    height: 36px;
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 15px;
    color: var(--bgColor);
    fill: var(--bgColor);
    position: relative;
}

    footer .footer .socials__item i, footer .footer .socials__item svg {
        position: relative;
        z-index: 2;
    }
.redesign a:active, .redesign a:hover {
    outline: 0;
}

footer .footer .socials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 12px;
}

footer .footer__layout__left {
    -webkit-flex-basis: 57%;
    -ms-flex-preferred-size: 57%;
    flex-basis: 57%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    float:left;
}

footer .footer__layout__right {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    padding-left: 15px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    float:right
}
footer .footer .logos__logo img {
    max-width: 100%;
    max-height: 100%;
}
footer .footer .logos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
footer .footer .logos__logo {
    width: 50px;
    height: 50px;
    margin-right: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.formTestimonial{width:500px;}
.testimonial {
    width: 100%;
    margin: 20px;
}

    .testimonial .mat-elevation-z3 {
        min-height: 200px;
        float:left;
        margin:20px;
        max-width:400px;
        min-width:200px;       
    }
.testimonialContent {
    padding:20px;
    font-style:italic;
}
.testimonialBy {
    
    font-family: cursive;
    padding-bottom:15px;
}
.testimonialByContent {
    margin-left: 35%;
    float: left;
    width: 100%;
    margin-bottom:10px;
}

    .content {
        margin-bottom: 30px;
    }
.quotes-image {
    position:relative;
}

.material-icons {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}
.newTestimonial {
    margin-left: 30%
}
.rate {
    float: left;
    height: 46px;
    margin-top: 6px;
}

    .rate:not(:checked) > input {
        position: absolute;
        top: -9999px;
    }

    .rate:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }

        .rate:not(:checked) > label:before {
            content: '★ ';
        }

    .rate > input:checked ~ label {
        color: #ffc700;
    }

    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
    }

    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }
.testimonialRating {
    margin-left: 35%;
    float: left;
    width: 100%;
    color: #ffc700;
}
.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

    .section h1 {
        text-align: center;
        font-size: 6rem;
        font-family: "Cookie";
        padding: 20px;
        margin: 15px;
        z-index: 1;
        opacity: 0.7;
    }

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.lightbox-video {
    width: 100%;
    max-width: 177vh;
}
audio, canvas, progress, video {
    display: inline-block;
}
.full-screen-video-component {
    position: relative;
    height: 100%;
    overflow: hidden
}

video {
    z-index: -1000;
    width: 100%;
    object-fit: cover;
}
video {
    overflow: hidden;
    top: 50%;
    left: 50%;
    /*-webkit-transform: translateX(-20%) translateY(-20%) translateZ(0);
    -ms-transform: translateX(-50%) translateY(-50%) translateZ(0);
    transform: translateX(-50%) translateY(-50%) translateZ(0);*/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto !important
}



.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: lightblue;*/
    background-color:#000;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

.content-wrapper {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 200px;
}

    .content-wrapper .content-container .title-wrapper {
        max-width: 750px;
    }
        .content-wrapper .content-container .title-wrapper .title {
            margin-bottom: 40px;
            white-space: pre-line;
            color:#FFF
        }

    .content-wrapper .content-container .button-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
.btn-white {
    background-color: transparent;
    border: solid 2px #FFF;
    font-size: 14px;
    line-height: 1.5;
    color: #FFF;
    padding: 14px 45px;
    cursor: pointer;
    z-index:99999
}
.btn-white:hover {
    background-color: #575757;
    border-color: #575757;
    color: white;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    padding-top:100px;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    max-width: 1000px;
    margin: 0 auto;
}
.footer__layout__develop{width:100%;float:right}
